
.body{
  padding: 0;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-search {
  max-height:90px;
}

#logo {
  max-height:80px;
}

@media (max-width: 769px) {
  #farmer-img {
    visibility:hidden;
  }
}

#testimonial-text {
  margin-bottom:0;
  padding-top:50px;
}

#testi-block {
  padding:30px 0;
}

#hero-block {
  padding:70px 0;
  margin: 20px 0;
}

#how-work-block {
  padding:50px 0;
}

@media (min-height: 768px) {
  #nav-eib {
    min-height:100px;
    box-shadow:0px 0px 5px 1px rgba(204,204,204,0.74);
  }
}

#image-box {
  max-width:100px;
}

#col-left {
}

#col-right {
}

#profile-img {
  width:300px;
  height:300px;
  object-fit:cover;
}

@media (max-width: 992px) {
  #profile-img {
    width:220px;
    height:220px;
  }
}

#emergency {
  padding-top:30px;
}

#block-info {
  padding-top:40px;
  padding-bottom:40px;
}

#record-list {
  margin-bottom:25px;
  padding:15px;
  -webkit-box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
  -moz-box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
  box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
}

#info-block {
  -webkit-box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
  -moz-box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
  box-shadow:1px 1px 5px 1px rgba(204,204,204,0.74);
}

#name {
  margin-top:15px;
}

#citizen-heading {
  margin-bottom:25px;
}

#med-rec-headding {
  margin-bottom:25px;
  margin-top:5px;
}

#footer {
  margin-top:35px;
}

#e-info-text {
  margin-bottom:12px;
}

#record-title {
  margin-bottom:20px;
}

#welcome-name {
  margin:0px 20px 0px 0px;
}

#table-block {
  margin:35px 0 35px 35px;

  -webkit-box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);

}

#form-div{
  margin-top: 30px;
  margin-bottom: 50px;
}
#textarea-tiny{
  height: 1080px;
}


#text-left{
margin-bottom: 30px;
}
#med-rec-title{
text-decoration: none;
  color: #353535;
}
#med-rec-title :hover{
  color: #2986d5;
}

#record-description p{
  color: black;
}
#record-description img{
  width: 100%;
  height: 100%;
}

#navbar-hov{
  z-index: 222;
}

#login-form-div{
  margin-top: 25px;

}

.content-login {
  min-height: calc(100vh - 322px);
}

#med-rec-link{
text-decoration: none;
}

#search-bar-hos{
 margin-top: 60px;
  margin-bottom: -10px;
}

#btn-war{
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

#push{
  min-height: calc(55vh);
}

#dashboard-button{
  margin-bottom: 10px;
}

#dashboard-contatiner{
  -webkit-box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.2);

  margin: 35px 0;
  padding: 25px 15px;
}


#btn-ad{
  margin-left: 10px;
  border-radius: .25rem;
}


#admin-dl-flag{
  font-size: 20px;
}

#hos-pol-rec-con{
  margin-top: 35px;
}

#ad-search{
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#ad-search-bar{
height: 45px;
}

